# Ignore everything except sitemanager/ and .github/
*
!sitemanager/
!.gitignore
!.github/

# But don't ignore sitemanager subdirectories
!sitemanager/**

# Allow .github workflows
!.github/workflows/
